**1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.**

In [ ]:
def even_sum(n):
    sum = 0
    for num in n:
        if num%2==0:
            sum = sum + num
    return sum

numbers = [1,2,3,4]
print(even_sum(numbers))

6

**2. Create a Python function that accepts a string and returns the reverse of that string.**

In [ ]:
def reverse_string(elem):
    rev = elem[::-1]
    return rev

string1 = "Hello! How are you ?"
reverse_string(string1)

'? uoy era woH !olleH'

**3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.**

In [ ]:
D = [1,2,3,4,5]

square = map(lambda x:x**2, D)
print(list(square))

[1, 4, 9, 16, 25]

**4. Write a Python function that checks if a given number is prime or not from 1 to 200.**

In [ ]:
def is_prime(n):
    if n<2: # as 0, 1 are not prime
        return False
    for i in range(2, int(n**0.5)+1):  # instead of checking (n-1) check upto sq root [+1 as for loop considers n-1 elements]
        if n % i == 0:
            return False
    return True

for num in range(1,201):
    if is_prime(num):
        print(num, 'is a prime number.')

2 is a prime number.
3 is a prime number.
5 is a prime number.
7 is a prime number.
11 is a prime number.
13 is a prime number.
17 is a prime number.
19 is a prime number.
23 is a prime number.
29 is a prime number.
31 is a prime number.
37 is a prime number.
41 is a prime number.
43 is a prime number.
47 is a prime number.
53 is a prime number.
59 is a prime number.
61 is a prime number.
67 is a prime number.
71 is a prime number.
73 is a prime number.
79 is a prime number.
83 is a prime number.
89 is a prime number.
97 is a prime number.
101 is a prime number.
103 is a prime number.
107 is a prime number.
109 is a prime number.
113 is a prime number.
127 is a prime number.
131 is a prime number.
137 is a prime number.
139 is a prime number.
149 is a prime number.
151 is a prime number.
157 is a prime number.
163 is a prime number.
167 is a prime number.
173 is a prime number.
179 is a prime number.
181 is a prime number.
191 is a prime number.
193 is a prime number.
197 is a prime number.
199 is a prime number.

**5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.**

In [ ]:
def fib_generator(n):
    a,b = 0,1
    for _ in range(n):
        yield a
        a,b = b, a+b

for num in fib_generator(7):
    print(num, end=' ')

0 1 1 2 3 5 8

**6. Write a generator function in Python that yields the powers of 2 up to a given exponent**

In [ ]:
def power_exp(n):
    for exp in range(n+1):
        yield 2 ** exp

for val in power_exp(7):
    print(val)

1
2
4
8
16
32
64
128

**7. Implement a generator function that reads a file line by line and yields each line as a string.**

In [ ]:
def read_file_lines(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

for line in read_file_lines('example.txt'):
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

**8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.**

In [ ]:
tup = [(1,2,3), (7,8,9), (4,5,6), (3,4,5), (7,3,9)]
sorted_tup = sorted(tup, key=lambda x:x[1])
print(sorted_tup)

[(1, 2, 3), (7, 3, 9), (3, 4, 5), (4, 5, 6), (7, 8, 9)]

**9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.**

In [ ]:
celsius_list = [10, 100, 76, 45]
fahrenheit_list = map(lambda x: (x*9/5)+32, celsius_list)
print(list(fahrenheit_list))

[50.0, 212.0, 168.8, 113.0]

**10. Create a Python program that uses `filter()` to remove all the vowels from a given string**

In [ ]:
D = "Hello, my name is Manish"
vowels = "aeiouAEIOU"
result = filter(lambda x: x not in vowels, D)
print(''.join(result))

Hll, my nm s Mnsh

**11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this**:

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.
Write a Python program using lambda and map.

In [1]:
orders = [
    [34587, 'Learning Python', 4, 40.95],
    [98762, 'Programming Python', 5, 56.80],
    [77226, 'Head First Python', 3,  32.95],
    [88112, 'Einfuhrung in Python3', 3, 24.99]
]

result = list(map(lambda x: (x[0],
                            round(x[2]*x[3] + (10 if x[2]*x[3] < 100 else 0),2)
                            ), orders))
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]